{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Home - Unisco - Education Website Template for University, College, School</title>
      <script src="/cdn-cgi/apps/head/OkbNSnEV_PNHTKP2_EYPrFNyZ8Q.js' %}"></script>
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <link href="https://fonts.googleapis.com/css?family=Lora:400,700" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/simple-line-icons.css' %}">
      <link rel="stylesheet" href="{% static 'css/slick.css' %}">
      <link rel="stylesheet" href="{% static 'css/slick-theme.css' %}">
      <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
      <link href="{% static 'css/style.css' %}" rel="stylesheet">
   </head>
   <body>
    {% block content %}
    
    {% endblock %}

    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"></script><script src="js/jquery.min.js' %}"></script>
    <script src="{% static 'js/tether.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/counterup.min.js' %}"></script>
    <script src="{% static 'js/instafeed.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/validate.js' %}"></script>
    <script src="{% static 'js/tweetie.min.js' %}"></script>
    <script src="{% static 'js/subscribe.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script defer src="https://static.cloudflareinsights.com/beacon.min.js' %}/vb26e4fa9e5134444860be286fd8771851679335129114" integrity="sha512-M3hN/6cva/SjwrOtyXeUa5IuCT0sedyfT+jK/OV+s+D0RnzrTfwjwJHhd+wYfMm9HJSrZ1IKksOdddLuN6KOzw==" data-cf-beacon='{"rayId":"7b0887681fc57803","version":"2023.3.0","r":1,"b":1,"token":"1a2187940c214caa9d3fed19b4904902","si":100}' crossorigin="anonymous"></script>
 </body>
</html>